.card{
  width: 250px;
  height: 250px;
  margin: 16px 10px;
  background:rgba(255,255,255,1);
  border-radius:2px;
  border:1px solid rgba(233,233,233,1);
}
.card:hover{
  box-shadow:0px 5px 10px 0px rgba(0,0,0,0.15);
}
.card-1{
  position: relative;
}
.card-1 .back-image{
  width: 100%;
  position: absolute;
  opacity: 0.7;
}
.card-1 .content-box{
  position: absolute;
  width: 210px;
  height: 210px;
  overflow: auto;
  padding: 20px;
}
.card-1 .content-box .name{
  /* color: rgb(227, 91, 129); */
  color: #333333;
  font-size: 18px;
}
.card-1 .content-box .text{
  color: #666666;
  line-height: 30px;
  font-size: 16px;
}
.card-2{
  position: relative;
  padding: 20px;
}
.card-2 .image-box {
  display: flex;
  align-items: center;
}
.card-2 .image-box .avatar-image{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.card-2 .image-box .name{
  color: rgb(227, 91, 129);
  font-size: 18px;
  margin-left: 20px;
}
.card-2 .text{
  color: #666666;
  line-height: 30px;
  font-size: 16px;
  height: 120px;
  overflow: auto;
}
.hide{
  display: none;
}